* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Roboto', sans-serif;
}
.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
}
header {
    height: 400px;
    background: linear-gradient(to right, #939ea9, #f9f9fa);
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
}
.header_photo {
    display: inline-block;
    width: 360px;
}
.header_text{
    display: inline-block;
    width: 370px;
    margin-top: 30px;
    font-size: 22px;
    line-height: 30px;
}
h1.name{
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0;
    color:rgb(28, 28, 114);
}
h2.profession{
    font-size: 25px;
}
h2.contact_info{
    font-size: 25px;
    margin: 150px 0 20px 0;
}
.social_media{
    display: flex;
    justify-content: space-between;
    margin: 30px 100px 0 0;
}
h3{
    font-size: 30px;
}
.category{
    margin: 40px 45px 0 45px;
}
.divider{
    height: 6px;
    background-color: #1c1c73cc;
    border-radius: 4px;
    margin: 15px 0 0 0;
}
.content_text{
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
}
ul{
    margin-left: 30px;
}
.Code{
    margin: 40px 0 0 0;
}
.code_content{
    background-color: rgb(185, 199, 212, 0.3); 
    padding: 30px;
    border-radius: 10px;
}
footer{
    background: linear-gradient(to top, #939ea9, #f9f9fa);
    margin-top: 40px;
    padding: 20px 20px 10px 20px;
}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
}
.footer_item {
    display: inline-block;
    width: 530px;
}
.github{
    margin-top: 30px;
    font-size: 25px;
    line-height: 35px;
}
.year{
    text-align: center;
    font-size: 20px;
}